<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Fira+Code:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

</head>
<body>
    {{ partial "header.html" . }}
    <main>
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>
    {{ partial "footer.html" . }}
    <script src="/js/main.js"></script>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/mendel-mendelg/30min?hide_gdpr_banner=1', text: 'Schedule time with me', color: '#15335f', textColor: '#ffffff', branding: true }); }</script>
</body>
</html>