<section id="about" class="about">
    <div class="about-text">
        <p class="subtitle">Hi, my name is</p>
        <h1>Mendel Grabski</h1>
        <h2>I Innovate Cloud Security and Operational Efficiency</h2>        
        <p>I am a Cloud Architect and Security Specialist with over five years of experience. As a Senior Cloud Security Engineer at Space and Time, I develop scalable, secure cloud solutions. My expertise includes optimizing architectures, deploying robust security frameworks, and leading projects that significantly enhance security and efficiency.</p>
        <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener noreferrer" class="cta-button">Get In Touch</a>
    </div>
    <div class="about-image">
        <img src="https://avatars.githubusercontent.com/u/60679806?s=400&u=4997fd01d32b11a77432bb3816bac637c8065942&v=4" alt="Mendel Grabski">
    </div>
</section>