<section id="experience">
    <h2>Where I've Worked</h2>
    <div class="timeline">
        <div class="timeline-item left">
            <div class="timeline-content">
                <h3>Cloud Solution Architect – Microsoft</h3>
                <p>2022 – present</p>
                <p>Architecting cutting-edge cloud solutions with a focus on AI integration and scalable infrastructures.</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="timeline-content">
                <h3>Tech Lead – Zurich Insurance Group</h3>
                <p>2017 – 2022</p>
                <p>Spearheaded DevOps initiatives and cloud migration, enhancing deployment efficiency and system reliability.</p>
            </div>
        </div>
        <div class="timeline-item left">
            <div class="timeline-content">
                <h3>IT Consultant – PRODYNA (Schweiz) AG</h3>
                <p>2015 - 2017</p>
                <p>Delivered expert consulting on software architecture.</p>
            </div>
        </div>
    </div>
</section>