<section id="experience">
    <h2>Where I've Worked</h2>
    <div class="timeline">
        <div class="timeline-item left">
            <div class="timeline-content">
                <h3>Head of Security & DevOps – Space and Time</h3>
                <p>2022 – present</p>
                <p>Architecting advanced cross-cloud solutions, with a focus on security, AI scalability, and ensuring robust compliance.</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="timeline-content">
                <h3>Cloud Engineer – Conduent</h3>
                <p>2022 – 2023</p>
                <p>Spearheaded Azure and network security initiatives, enhancing compliance and infrastructure reliability.</p>
            </div>
        </div>
        <div class="timeline-item left">
            <div class="timeline-content">
                <h3>Systems Engineer – Agiliant</h3>
                <p>2020 – 2022</p>
                <p>Delivered expert consulting on systems and cloud optimization projects, ensuring continuous availability and operational excellence.</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="timeline-content">
                <h3>Manager – Walgreens</h3>
                <p>2016 – 2020</p>
                <p>Drove integration to exceed operational benchmarks, projects and KPIs, resulting in increased customer satisfaction.</p>
            </div>
        </div>
    </div>
</section>
